body{
    background-color: #202066;
}
header{
    padding: 20px;
}
main{
    padding: 10px;
}

.button_voltar{
    color: aliceblue;
    text-decoration: none;
}

button{
    background-color: #202066;
    color: aliceblue;
    height: 70px;
    width: 150px;
    border-color: aliceblue;
    border-radius: 20px;
}

button:hover{
    transition: 0.5s;
    color: black;
    background-color: aliceblue;
}